footer {
    width: 100%;
    padding: 3rem;
    background-color: var(--txtColorTxt);
}

.footer-cont {
    width: 100%;
    border-top: 2px solid var(--txtColorBtn);
    padding-top: 20px;
    display: grid;
    grid-template-columns: 4fr 8fr;
    column-gap: 40px;
}

.foot-main-list {
    display: flex;
    column-gap: 30px;
    width: 100%;
}

.foot-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.foot-nav {
    text-decoration: none;
    color: var(--txtColorBtn);
    font-weight: 600;
    width: 100px;
}

.foot-nav span {
    font-size: 16px;
}

.foot-list p {
    color: #8E8E8E;
    font-size: 14px;
}

@media (max-width: 645px) {
    footer {
        padding: 2rem;
    }

    .foot-main-list .foot-list {
        width: 50%;
    }

    .footer-cont {
        grid-template-columns: 12fr;
        row-gap: 30px;
    }
}

@media (max-width: 575px) {
    footer {
        padding: 2rem 20px;
    }
}