@import url('https://fonts.cdnfonts.com/css/ala-champ');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,600;9..40,800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--primaryColor);
}

:root {
  --primaryColor: #FBEFAF;
  --secondaryColor: #FAF9F2;
  --accentColor: #252626;
  --txtColorBtn: #ffffff;
  --txtColorTxt: #252626;
  --fontHead: 'ala champ', sans-serif;
  --fontTxt: 'DM Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
